.nav{
    background:   
    rgba(20, 20, 20, 0.5);
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    @include media(700){
        padding: 25px 0;
    }
    @include media(600){
        padding: 20px 0;
    }
    @include media(500){
        padding: 15px 0;
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__burger,
    &__close{
        display: none;
        img{
            width: 25px;
        }
        @include media(700){
            display: block;
        }
    }
    &__close{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 30px;
        @include media(700){
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -250px;
            height: 100vh;
            background-color: #000;
            padding: 50px;
            transition: 0.5s;
            &.active{
                right: 0;
            }
        }
    }
    &__link{
        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 700;
        padding: 34px 0;
        transition: 0.5s;
        display: block;
        &.router-link-active{
            color: #fff;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 15px;
                background: rgba(20, 154, 3, 1);
                left: 50%;
                transform: translateX(-50%);
                bottom: 15px;
            }
        }
    }
}